<!--_ViewImport'a eklemeliyiz. Bunu using Entities.Models  -->

@model List<Product>

      @foreach (var item in Model)
      {
          <h3>@item.ProductName</h3>
          <p>Fiyat: @item.Price.ToString("c")</p>
          <hr />
      }